#Footernav{
    height: 50vh;
    width: 100vw;
    background-color: rgb(252, 235, 235);
}
.footerul{
    display: inline-flex;
    padding-top: 7%;
    /* text-decoration: none; */
    padding-left: 20px;

}
.footerulli{
    border-block-end: 2px solid black;
    margin: 10px;
}
.spanforicons{
    margin-left: 78%;
    display: flex;
    width: 16%;
    flex-direction: row-reverse;
    margin-top: -26px;
    justify-content: space-between;
}